# DataFrames.jl 介紹 (二): Joins 與 Split-Apply-Combine Strategy

## Day 018 作業1：The Split-Apply-Combine Strategy

同 Day 017，請載入 2020/4/2 COVID-19 Daily Report 資料集，計算每個國家/地區的累計確診人數，並列出所有資料筆數。

In [1]:
using DataFrames, CSV

In [3]:
df = CSV.read("D:/julia/文件/ch18/04-02-2020.csv")

2569×12 DataFrame. Omitted printing of 8 columns
│ Row  │ FIPS    │ Admin2     │ Province_State │ Country_Region       │
│      │ Int64⍰  │ String⍰    │ String⍰        │ String               │
├──────┼─────────┼────────────┼────────────────┼──────────────────────┤
│ 1    │ 45001   │ Abbeville  │ South Carolina │ US                   │
│ 2    │ 22001   │ Acadia     │ Louisiana      │ US                   │
│ 3    │ 51001   │ Accomack   │ Virginia       │ US                   │
│ 4    │ 16001   │ Ada        │ Idaho          │ US                   │
│ 5    │ 19001   │ Adair      │ Iowa           │ US                   │
│ 6    │ 29001   │ Adair      │ Missouri       │ US                   │
│ 7    │ 40001   │ Adair      │ Oklahoma       │ US                   │
│ 8    │ 8001    │ Adams      │ Colorado       │ US                   │
│ 9    │ 16003   │ Adams      │ Idaho          │ US                   │
│ 10   │ 17001   │ Adams      │ Illinois       │ US                   │
⋮
│ 2559 │ missing │ missing    │ missing        │ Ukraine              │
│ 2560 │ missing │ missing    │ missing        │ United Arab Emirates │
│ 2561 │ missing │ missing    │ missing        │ United Kingdom       │
│ 2562 │ missing │ missing    │ missing        │ Uruguay              │
│ 2563 │ missing │ missing    │ missing        │ Uzbekistan           │
│ 2564 │ missing │ missing    │ missing        │ Venezuela            │
│ 2565 │ missing │ missing    │ missing        │ Vietnam              │
│ 2566 │ missing │ missing    │ missing        │ West Bank and Gaza   │
│ 2567 │ missing │ missing    │ missing        │ Zambia               │
│ 2568 │ missing │ missing    │ missing        │ Zimbabwe             │
│ 2569 │ missing │ unassigned │ Wyoming        │ US                   │

計算計算每個國家/地區的累計確診人數

【提示】可使用 groupby 相關的函式

In [5]:
using Statistics

In [10]:
# 顯示所有資料
df2=by(df, :Country_Region, Confirmed=:Confirmed => sum)
df2[:,:]

181×2 DataFrame
│ Row │ Country_Region       │ Confirmed │
│     │ String               │ Int64     │
├─────┼──────────────────────┼───────────┤
│ 1   │ US                   │ 243453    │
│ 2   │ Canada               │ 11284     │
│ 3   │ United Kingdom       │ 34173     │
│ 4   │ China                │ 82432     │
│ 5   │ Netherlands          │ 14788     │
│ 6   │ Australia            │ 5116      │
│ 7   │ Denmark              │ 3573      │
│ 8   │ France               │ 59929     │
│ 9   │ Afghanistan          │ 273       │
│ 10  │ Albania              │ 277       │
⋮
│ 171 │ Turkey               │ 18135     │
│ 172 │ Uganda               │ 45        │
│ 173 │ Ukraine              │ 897       │
│ 174 │ United Arab Emirates │ 1024      │
│ 175 │ Uruguay              │ 350       │
│ 176 │ Uzbekistan           │ 205       │
│ 177 │ Venezuela            │ 146       │
│ 178 │ Vietnam              │ 233       │
│ 179 │ West Bank and Gaza   │ 161       │
│ 180 │ Zambia               │ 39        │
│ 181 │ Zimbabwe             │ 9         │

## 作業2：請列出美國各區域或事件 (依 Province_State 欄) 的累積確診、死亡、康復人數。

【提示】使用 Split-Apply-Combine Strategy 時，有幾種不同的函式可以使用，請參照 `DataFrames.jl` 官方文件 [https://juliadata.github.io/DataFrames.jl/stable/lib/functions/#DataFrames.groupby](https://juliadata.github.io/DataFrames.jl/stable/lib/functions/#DataFrames.groupby)

In [37]:
df3=df[:,:Country_Region].=="US"

2569-element BitArray{1}:
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 ⋮
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 1

In [38]:
aggregate(groupby(df[df3,[:Confirmed,:Deaths,:Recovered,:Province_State]], :Province_State),sum)

58×4 DataFrame
│ Row │ Province_State           │ Confirmed_sum │ Deaths_sum │ Recovered_sum │
│     │ Union{Missing, String}   │ Int64         │ Int64      │ Int64         │
├─────┼──────────────────────────┼───────────────┼────────────┼───────────────┤
│ 1   │ South Carolina           │ 1554          │ 31         │ 0             │
│ 2   │ Louisiana                │ 9159          │ 310        │ 0             │
│ 3   │ Virginia                 │ 1706          │ 41         │ 0             │
│ 4   │ Idaho                    │ 776           │ 9          │ 0             │
│ 5   │ Iowa                     │ 614           │ 11         │ 0             │
│ 6   │ Missouri                 │ 1857          │ 22         │ 0             │
│ 7   │ Oklahoma                 │ 881           │ 34         │ 0             │
│ 8   │ Colorado                 │ 3342          │ 80         │ 0             │
│ 9   │ Illinois                 │ 7695          │ 163        │ 0             │
│ 10  │ Indiana                  │ 3038          │ 78         │ 0             │
⋮
│ 48  │ District of Columbia     │ 653           │ 12         │ 0             │
│ 49  │ Connecticut              │ 3824          │ 112        │ 0             │
│ 50  │ Hawaii                   │ 256           │ 1          │ 0             │
│ 51  │ Delaware                 │ 393           │ 12         │ 0             │
│ 52  │ Diamond Princess         │ 49            │ 0          │ 0             │
│ 53  │ Grand Princess           │ 103           │ 3          │ 0             │
│ 54  │ Guam                     │ 82            │ 3          │ 0             │
│ 55  │ Northern Mariana Islands │ 6             │ 1          │ 0             │
│ 56  │ Puerto Rico              │ 316           │ 12         │ 0             │
│ 57  │ Recovered                │ 0             │ 0          │ 9001          │
│ 58  │ Virgin Islands           │ 30            │ 0          │ 0             │