## Day 019 作業：DataFrame 的排序及顯示

同 Day 017，請載入 2020/4/2 COVID-19 Daily Report 資料集，計算每個國家/區域的累計確診人數。

請依確診案例數，列出截至4月2日為止 (UTC 時間)，確診案例最多的10個國家/區域。

In [1]:
using DataFrames, CSV

In [3]:
df = CSV.read("D:/julia/文件/ch19/04-02-2020.csv")

2569×12 DataFrame. Omitted printing of 8 columns
│ Row  │ FIPS    │ Admin2     │ Province_State │ Country_Region       │
│      │ Int64⍰  │ String⍰    │ String⍰        │ String               │
├──────┼─────────┼────────────┼────────────────┼──────────────────────┤
│ 1    │ 45001   │ Abbeville  │ South Carolina │ US                   │
│ 2    │ 22001   │ Acadia     │ Louisiana      │ US                   │
│ 3    │ 51001   │ Accomack   │ Virginia       │ US                   │
│ 4    │ 16001   │ Ada        │ Idaho          │ US                   │
│ 5    │ 19001   │ Adair      │ Iowa           │ US                   │
│ 6    │ 29001   │ Adair      │ Missouri       │ US                   │
│ 7    │ 40001   │ Adair      │ Oklahoma       │ US                   │
│ 8    │ 8001    │ Adams      │ Colorado       │ US                   │
│ 9    │ 16003   │ Adams      │ Idaho          │ US                   │
│ 10   │ 17001   │ Adams      │ Illinois       │ US                   │
⋮
│ 2559 │ missing │ missing    │ missing        │ Ukraine              │
│ 2560 │ missing │ missing    │ missing        │ United Arab Emirates │
│ 2561 │ missing │ missing    │ missing        │ United Kingdom       │
│ 2562 │ missing │ missing    │ missing        │ Uruguay              │
│ 2563 │ missing │ missing    │ missing        │ Uzbekistan           │
│ 2564 │ missing │ missing    │ missing        │ Venezuela            │
│ 2565 │ missing │ missing    │ missing        │ Vietnam              │
│ 2566 │ missing │ missing    │ missing        │ West Bank and Gaza   │
│ 2567 │ missing │ missing    │ missing        │ Zambia               │
│ 2568 │ missing │ missing    │ missing        │ Zimbabwe             │
│ 2569 │ missing │ unassigned │ Wyoming        │ US                   │

In [14]:
# 請在此輸入程式碼
#區域
df2=sort((aggregate(groupby(df[:,[:Confirmed,:Province_State]],:Province_State),sum)),:Confirmed_sum,rev=true)
first(df2, 10)

10×2 DataFrame
│ Row │ Province_State │ Confirmed_sum │
│     │ String⍰        │ Int64         │
├─────┼────────────────┼───────────────┤
│ 1   │ missing        │ 669315        │
│ 2   │ New York       │ 92506         │
│ 3   │ Hubei          │ 67802         │
│ 4   │ New Jersey     │ 25590         │
│ 5   │ Michigan       │ 10791         │
│ 6   │ California     │ 10773         │
│ 7   │ Louisiana      │ 9159          │
│ 8   │ Florida        │ 9008          │
│ 9   │ Massachusetts  │ 8966          │
│ 10  │ Illinois       │ 7695          │

In [15]:
#國家
df3=sort((aggregate(groupby(df[:,[:Confirmed,:Country_Region]],:Country_Region),sum)),:Confirmed_sum,rev=true)
first(df3, 10)

10×2 DataFrame
│ Row │ Country_Region │ Confirmed_sum │
│     │ String         │ Int64         │
├─────┼────────────────┼───────────────┤
│ 1   │ US             │ 243453        │
│ 2   │ Italy          │ 115242        │
│ 3   │ Spain          │ 112065        │
│ 4   │ Germany        │ 84794         │
│ 5   │ China          │ 82432         │
│ 6   │ France         │ 59929         │
│ 7   │ Iran           │ 50468         │
│ 8   │ United Kingdom │ 34173         │
│ 9   │ Switzerland    │ 18827         │
│ 10  │ Turkey         │ 18135         │